.App {
  text-align: center;
}

.Buttons {
  margin: 20px;
}

.TaskList-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  width: 66.66vw;
  justify-content: center;
  box-sizing: border-box;
}